<!doctype html>
<html lang="en">
<head>
  <h2>Student: <%= @student.name %></h2>
</head>

<body>
  <ul>
  <% @student.addresses.each do |address| %>
    <li>
      <%= address.description %>
      <%= address.street %>
      <%= address.city %>
      <%= address.state %>
      <%= address.zipcode %>
    </li>
  <% end %>
  </ul>
</body>
</html>
